body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #8d99ae; /* Scrollbar background color */
}
body::-webkit-scrollbar-thumb {
  background: #2b2d42; /* Scrollbar thumb color */
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
